.Homesummary {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px; /* Adjust padding for smaller screens */
}

.sum-right {
    width: 50%; /* Full width on smaller screens */
    max-width: 800px; /* Max width for larger screens */
    height: auto; /* Auto height for responsive images */
    margin-top: 20px;
}

.sum-right img {
    width: 100%; /* Full width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    border-radius: 10px;
}

.sum-left {
    width: 45%; /* Full width */
    margin-right: 0; /* No right margin */
}

.sum-para h3 {
    font-size: 1rem; /* Responsive font size */
}

.sum-para p {
    font-size: 0.9rem; /* Responsive font size */
    margin-top: 10px;
}

.first-para, .second-para {
    margin-top: 20px;
}

.left-bottom {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    margin-top: 40px;
}

.left-bottom .transform, .community {
    display: flex;
    width: 100%; /* Full width on smaller screens */
    margin-bottom: 20px; /* Space between items */
}

.left-bottom .transform, .community {
    width: 45%; /* Keep some space between items on larger screens */
}

.left-bottom .thick {
    font-size: 0.9rem; /* Responsive font size */
    font-weight: bold;
}

.left-bottom p {
    font-size: 0.8rem; /* Responsive font size */
}

.left-bottom img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    padding: 4px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #E8618C1A;
}

/* Media Queries for Responsive Design */
@media (max-width: 950px) {
    .Homesummary {
        flex-direction: column; /* Stack the left and right sections */
    }

    .sum-left {
        margin-right: 0; /* Reset margin for mobile */
        width: 100%; /* Full width */
    }

    .sum-right {
        width: 80%; /* Full width */
    }

    .sum-right img{
        margin-left: 40px;
    }
    
    .left-bottom .transform, .community {
        width: 100%; /* Full width for stacked items */
    }
}

@media (max-width: 480px) {
    .sum-para h3 {
        font-size: 0.85rem; /* Smaller font size */
    }

    .sum-para p {
        font-size: 0.75rem; /* Smaller font size */
    }
}